@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root {
  --primary: #3c3ced;
  --secondary: #030303;
  --error: #fc3636;
}

/* base styles & title */
body {
  font-family: "Noto Serif";
  color: var(--secondary);
  background:#908f8f;
}

.App {
  max-width: 960px;
  margin: 0 auto;
  
}

.title h1 {
  color: var(--primary);
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 0 0 7px #fff,
  0 0 10px #fff;
  margin: 20px;
}

.title h2,
.title p {
  text-align: center;
  text-shadow: 0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #fff,
  0 0 82px #fff;
}

.title h2 {
  margin-top: 60px;
  font-size: 2.7rem;
}

/* upload form styles */
form {
  margin: 30px auto 10px;
  text-align: center;
  
}

label input {
  height: 0;
  width: 0;
  opacity: 0;
  
}

label {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px #9ecaed;
}

label:hover {
  /* background: var(--primary); */
  text-shadow: 0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 27px #fff,
  0 0 30px #fff,
  0 0 41px #fff,
  0 0 62px #fff,
  0 0 102px #fff,
  0 0 112px #fff,
  0 0 122px #fff,
  0 0 171px #fff;
  color: white;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #ffffff;
}



.output {
  height: 60px;
  font-size: 0.8rem;
}

.error {
  color: var(--error);
}

/* progress bar styles */
.progress-bar {
  height: 7px;
  background: var(--primary);
  margin-top: 20px;
}

/* image grid styles */
.img-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  
}

.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  /* opacity: 0.8; */
  box-shadow: #fff 0 0 10px;
}

.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  position: absolute;
  filter: grayscale(1);
  transition: all 0.5s ease;
  top: 0;
  left: 0;
}

.img-wrap:hover img {
  filter: grayscale(0);
}

/* modal styles */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.backdrop img {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) !important;
  max-width: 60%;
  max-height: 80%;
  /* margin: 60px auto; */
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  /* border: 3px solid white; */
}

@media screen and (max-width: 768px) {
  .img-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 60px auto;
  }


  .backdrop img {
    max-width: 95%;
  }

}

@media screen and (max-width: 480px) {
  .img-grid {
    grid-template-columns: 1fr;
  }

  .backdrop img {
    max-width: 95%;
  }

}